* {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    max-width: 1920px;
    height: 4600px;
    background-image: url("/Pics/BG Hero.png"), url("./Pics/BG Content.png"), url("./Pics/VG.png"), url("Pics/MG.png"), url("Pics/HG.png");
    background-position: 0% 0, 0% 45%, 0% 35%, 0% 25%, 0% 0%; 
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-color: #0B1D26;
}

a,
a > span {
  text-decoration: none;
  vertical-align: top;
}


nav {
    width: 30%;
}

nav >ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

header {
    max-width: 1920px;
    width: 100%;
    margin-top: 4%;
    display: inline-flex;
    justify-content: space-between;
}

nav > ul > li, 
ul {
    display: inline;
}
div.logo {
    margin-left: 3%;
    font-size: 32;
    font-weight: bold;
}

div.account {
    margin-right: 3%;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 88px;
    font-weight: lighter;
    text-align: start;
    max-width: 950px;
    max-height: 200px;
}

h3 {

}

