
@media only screen and (min-width: 768px){
    .flex{
        display: flex;
    }

    .left {
        border-right: solid 1px #333333;
        margin: auto 5%;
        flex: 40%;
    }

    .right {
        flex: 60%;
        margin: auto 5%;
    }

    .left * {
        font-family: Roboto, sans-serif;
        font-size: 32px;
        line-height: 48px;
    }

    #map {
        height: 320px;
      }
}